{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "dot-location": ["error", "property"],
        "indent": ["error", 4, { "MemberExpression": 0 }],
        "no-var": "error",
        "quotes": ["error", "double"],
        "semi": "error",
        "keyword-spacing": ["error", {
            "overrides": {
                "if": { "after": false },
                "for": { "after": false },
                "while": { "after": false },
                "catch": {"after": false}
            }
        }]
    }
}